# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {
                "Total Schools": school_count,
                "Total Students": student_count,
                "Total Budget": total_budget,
                "Average Math Score": average_math_score,
                "Average Reading Score": average_reading_score,
                "% Passing Math": passing_math_percentage,
                "% Passing Reading": passing_reading_percentage,
                "% Overall Passing": overall_passing_rate
}

# Formatting
district_summary["Total Students"] = "{:,}".format(district_summary["Total Students"])
district_summary["Total Budget"] = "${:,.2f}".format(district_summary["Total Budget"])

# Display the DataFrame
district_summary_df = pd.DataFrame([district_summary])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [12]:
# Calculate the total student count per school from school_data
per_school_counts =school_data_complete.groupby("school_name").size()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = per_school_counts =school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_counts =school_data.set_index(["school_name"])["budget"] // school_data.set_index(["school_name"])["size"]
per_school_capita

school_name
Huang High School        655
Figueroa High School     639
Shelton High School      600
Hernandez High School    652
Griffin High School      625
Wilson High School       578
Cabrera High School      582
Bailey High School       628
Holden High School       581
Pena High School         609
Wright High School       583
Rodriguez High School    637
Johnson High School      650
Ford High School         644
Thomas High School       638
dtype: int64

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete["math_score"].mean()
per_school_reading = school_data_complete["reading_score"].mean()

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
school_students_passing_math = school_data_complete[school_data_complete['math_score']>=70]
students_passing_math= school_students_passing_math.groupby('school_name').size()
students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70]
students_passing_reading=school_students_passing_reading.groupby('school_name').size()
students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [26]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_counts *100
per_school_passing_reading = students_passing_reading / per_school_counts
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts *100
per_school_passing_math

school_name
Bailey High School       528.343949
Cabrera High School      300.515464
Figueroa High School     304.538341
Ford High School         290.527950
Griffin High School      219.360000
Hernandez High School    474.539877
Holden High School        67.986231
Huang High School        292.519084
Johnson High School      483.846154
Pena High School         149.425287
Rodriguez High School    416.640502
Shelton High School      275.500000
Thomas High School       239.028213
Wilson High School       370.761246
Wright High School       288.164666
dtype: float64

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary ={
                "School Type": school_types,
                "Total Students": per_school_counts,
                "Total School Budget": per_school_budget,
                "Per Student Budget": per_school_capita,
                "Average Math Score": per_school_math,
                "Average Reading Score": per_school_reading,
                "% Passing Math": per_school_passing_math,
                "% Passing Reading": per_school_passing_reading,
                "% Overall Passing": overall_passing_rate
}

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df = pd.DataFrame(per_school_summary)
per_school_summary_df# Display the DataFrame

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,628,"$3,124,928.00",$628.00,78.985371,81.87784,528.343949,649.203822,432.961783
Cabrera High School,Charter,582,"$1,081,356.00",$582.00,78.985371,81.87784,300.515464,309.793814,291.580756
Figueroa High School,District,639,"$1,884,411.00",$639.00,78.985371,81.87784,304.538341,372.613459,245.539906
Ford High School,District,644,"$1,763,916.00",$644.00,78.985371,81.87784,290.527950,337.267081,230.900621
Griffin High School,Charter,625,"$917,500.00",$625.00,78.985371,81.87784,219.360000,228.160000,212.800000
Hernandez High School,District,652,"$3,022,020.00",$652.00,78.985371,81.87784,474.539877,574.846626,380.521472
Holden High School,Charter,581,"$248,087.00",$581.00,78.985371,81.87784,67.986231,70.740103,65.576592
Huang High School,District,655,"$1,910,635.00",$655.00,78.985371,81.87784,292.519084,362.137405,238.320611
Johnson High School,District,650,"$3,094,650.00",$650.00,78.985371,81.87784,483.846154,594.923077,392.153846
Pena High School,Charter,609,"$585,858.00",$609.00,78.985371,81.87784,149.425287,151.559934,143.021346
Rodriguez High School,District,637,"$2,547,363.00",$637.00,78.985371,81.87784,416.640502,503.610675,332.653061
Shelton High School,Charter,600,"$1,056,600.00",$600.00,78.985371,81.87784,275.500000,281.333333,263.833333
Thomas High School,Charter,638,"$1,043,130.00",$638.00,78.985371,81.87784,239.028213,249.373041,233.072100
Wilson High School,Charter,578,"$1,319,574.00",$578.00,78.985371,81.87784,370.761246,381.314879,357.785467
Wright High School,Charter,583,"$1,049,400.00",$583.00,78.985371,81.87784,288.164666,298.284734,278.902230

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

SyntaxError: invalid syntax (762762548.py, line 2)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary